import { createApp } from 'vue'
import App from './App.vue'
{{ROUTER_IMPORT}}
{{PINIA_IMPORT}}
{{UI_IMPORT}}

// Styles
import './assets/styles/main.css'

// Internal Resources
import BaseButton from '@/components/base/BaseButton.vue'

const app = createApp(App)

// Global Components
app.component('BaseButton', BaseButton)

// Plugins
{{PINIA_USE}}
{{ROUTER_USE}}
{{UI_USE}}

app.mount('#app')
